{% extends 'base.html' %}

{% load accounts_tags %}

{% block content %}

    <style>
        .row {
            margin: 15px 0;
        }
        .product_box{
            display: flex;
            border: 1px solid #4843a3;
            border-radius: 10px;
        }
        .product_box figure img{
            width: 150px;
            height: 150px;
        }
        .product_text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
        }
        .product_description{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 85%;
        }
        .product_description p {
            color: #666666;
            text-align: justify;
        }
        .price_category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 40%;
        }
        .price_category .price{
            color: #7a75b9;
            font-size: 20px;
            font-weight: 700;
        }
        .price_category .category{
            color: #4843a3;
            font-size: 15px;
            font-style: italic;
        }
        .buttons .btn-info{
            border-radius: 10px;
        }
        .buttons .btn-info span{
            margin: 7px;
        }

    </style>

    <!-- products -->
    <div  class="products">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Список купленных товаров</h2>
                    </div>
                </div>
            </div>

            {% for purchase_product in purchase_products %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="product_box">
                            <figure><img src="{{ purchase_product.products.photoproduct_set.first.photo.url }}" alt="#"/></figure>
                            <div class="product_text">
                                <a href="{% url 'product_detail' purchase_product.products.pk %}">
                                    <div class="product_description">
                                        <h3 class="card-title">{{ purchase_product.products.name }}</h3>
                                        <p>{{ purchase_product.products.description| truncatewords:"50" }}</p>
                                        <div class="buttons">
                                            <a href="{% url 'give_review_for_product' purchase_product.products.pk %}" class="btn-info"><span>Оставить отзыв</span></a>
                                        </div>
                                    </div>
                                </a>
                                <div class="price_category">
                                    <p class="category">{{ purchase_product.datetime_purchase|date:"d.m.y" }}</p>
                                    <p class="price">{{ purchase_product.products.price }} р.</p>
                                    <p class="price">Кол-во: {{ purchase_product.count }}</p>
                                    <p class="category">{{ purchase_product.products.category }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            {% show_pagination page_obj num_page paginator %}

        </div>
    </div>
    <!-- end products -->

{% endblock %}
