{% load show_products_tags %}

<style>
    .pagination {
        justify-content: center;
    }
    .step-links {
        display: flex;
        font-size: 25px;
    }
    .page-link.selected{
        color: #666666;
    }
</style>

<div class="pagination">
    <span class="step-links">

        {% if page_obj.has_previous %}
            <a href="{% create_get_parameters_for_url_products page_obj.previous_page_number filter_brands filter_categories %}"><li class="page-link">&lt</li></a>
            {% if 1 < page_obj.number|add:-5 %}
                <a href="{% create_get_parameters_for_url_products 1 filter_brands filter_categories %}"><li class="page-link">1</li></a>
                {% if 1 != page_obj.number|add:-6 %}
                    <li class="page-link">...</li>
                {% endif %}
            {% endif %}
        {% endif %}

        {% for num_page in paginator.page_range %}
            {% if page_obj.number == num_page %}
                <li class="page-link selected">{{ num_page }}</li>
            {% elif num_page >= page_obj.number|add:-5 and num_page <= page_obj.number|add:5 %}
                <a href="{% create_get_parameters_for_url_products num_page filter_brands filter_categories %}"><li class="page-link">{{ num_page }}</li></a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            {% if paginator.num_pages > page_obj.number|add:6 %}
                <li class="page-link">...</li>
            {% endif %}
            {% if paginator.num_pages > page_obj.number|add:5 %}
                <a href="{% create_get_parameters_for_url_products paginator.num_pages filter_brands filter_categories %}"><li class="page-link">{{ paginator.num_pages }}</li></a>
            {% endif %}
            <a href="{% create_get_parameters_for_url_products page_obj.next_page_number filter_brands filter_categories %}"><li class="page-link">&gt</li></a>
        {% endif %}
    </span>
</div>
