<!--  contact -->
    <div class="contact" style="margin: 0px">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="titlepage">
                 <h2>{{ title }}</h2>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-10 offset-md-1">
              <form id="request" class="main_form" method="post">

                  {% csrf_token %}

                 <div class="row">
                     {% for el_form in form %}
                         <div class="col-md-12 ">
                            <p style="color: red; font-size: 20px; margin-bottom: 5px;">{{ el_form.errors.0 }}</p>
                            <p style="color: forestgreen">{{ el_form.help_text }}</p>
                            {{ el_form }}
                        </div>
                     {% endfor %}
                    <div class="col-md-12">
                       <button type="submit" class="send_btn">{{ text_button }}</button>
                    </div>

                 </div>
              </form>
           </div>
        </div>
     </div>
    </div>
    <!-- end contact -->