{% extends 'base.html' %}
{% load show_products_tags %}

{% block content %}

    <style>
        .row {
            margin: 15px 0;
        }
        .review_form{
            background-color: white;
        }
        .el_form{
            display: flex;
            justify-content: center;
            margin: 10px;
            font-size: 15px;
        }
        .el_form_label{
            margin-right: 10px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .review_form_btn{
            display: grid;
            justify-content: center;
        }
        .review_form_btn button{
            margin: 10px;
        }
    </style>

    <!-- products -->
    <div  class="products">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Товары</h2>
                    </div>
                </div>
            </div>

            <div class="review_form">
                <form method="POST">
                    {% csrf_token %}
                    <div class="filter_form_inner">
                        {% for el_form in form %}
                            <div class="el_form">
                                <div class="el_form_label">
                                    <label for="{{ el_form.auto_id }}">{{ el_form.label }}</label>
                                </div>
                                {{ el_form }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="review_form_btn">
                        <button type="submit" class="sub_btn" style="background-color: #17a2b8;">Оставить отзыв</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- end products -->


{% endblock %}
