{% extends 'base.html' %}
{% load show_products_tags %}
{% load accounts_tags %}

{% block content %}

    <style>
        .row {
            margin: 15px 0;
        }
        .product_box{
            display: flex;
            border: 1px solid #4843a3;
            border-radius: 10px;
        }
        .product_box figure img{
            width: 150px;
            height: 150px;
        }
        .product_text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
        }
        .product_description{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 85%;
        }
        .product_description p {
            color: #666666;
            text-align: justify;
        }

        .price_category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
        .price_category .price{
            color: #7a75b9;
            font-size: 20px;
            font-weight: 700;
        }
        .price_category .category{
            color: #4843a3;
            font-size: 15px;
            font-style: italic;
        }
        .buttons .btn-info{
            border-radius: 10px;
            margin: 5px;
        }
        .buttons .btn-info span{
            margin: 7px;
        }
        .filter_form{
            background-color: white;
        }
        .filter_form h3{
            text-align: center;
        }
        .filter_form_inner{
            display: flex;
            justify-content: center;
        }
        .el_form{
            display: flex;
            margin: 10px;
            font-size: 15px;
        }
        .el_form_label{
            margin-right: 10px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .filter_form_btn{
            display: grid;
            justify-content: center;
        }
        .filter_form_btn button{
            margin: 10px;
        }
    </style>

    <!-- products -->
    <div  class="products">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Товары</h2>
                    </div>
                </div>
            </div>

            <div class="filter_form">

                <h3 class="h3">Фильтр товаров</h3>

                <form method="get">
                    <div class="filter_form_inner">
                        {% for el_form in form %}
                            <div class="el_form">
                                <div class="el_form_label">
                                    <label for="{{ el_form.auto_id }}">{{ el_form.label }}</label>
                                </div>
                                {{ el_form }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="filter_form_btn">
                        <button type="submit" class="sub_btn" style="background-color: #17a2b8;">Применить</button>
                    </div>
                </form>
            </div>

            {% for product, category, photo in all_products %}
                {% if product.show %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product_box">
                                <figure><img src="{{ photo }}" alt="#"/></figure>
                                <div class="product_text">
                                    <a href="{% url 'product_detail' product.pk %}">
                                        <div class="product_description">
                                            <h3 class="card-title">{{ product.name }}</h3>
                                            <p>{{ product.description| truncatewords:"50" }}</p>
                                            <div class="buttons">
                                                <a href=""></a>
                                                {% if user.is_staff %}
                                                    <a href="{% url 'admin:shop_products_product_change' product.pk %}" class="btn-info"s><button class="btn-info"><span>Редактировать</span></a></button>
                                                {% endif %}
                                                <button class="btn-info add-favorite-product"><span>Добавить в избранное</span></>
                                                <button class="btn-info buy-product"><span>Купить</span></button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="price_category">
                                        <p class="price">{{ product.price }} р.</p>
                                        <p class="category">{{ category }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

            {% show_pagination page_obj num_page paginator %}

        </div>
    </div>
    <!-- end products -->

    {% block my_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ request.query_params }}
{#        {{ request.GET|getlist:'categories' }}#}
        <script>
            $(document).ready(function() {
                // ajax-запрос на добавление товара в корзину
                $('.btn-info.buy-product').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_add_product_in_shopping_bassket' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().children('a').attr('href'),
                        }
                    })
                });
                // ajax-запрос на добавление товара в избранное
                $('.btn-info.add-favorite-product').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_add_favorite_product' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().children('a').attr('href'),
                        }
                    })
                });
                let url = new URL(window.location.href);  // Создаем объект с текущим URL
                let get_params = new URLSearchParams(url.search);  //Выделяем все GET-параметры
                $('#id_categories').val(get_params.getAll('categories')).change();
                $('#id_brands').val(get_params.getAll('brands')).change();
            });
        </script>
    {% endblock %}

{% endblock %}
