{% extends 'base.html' %}
{% load show_products_tags %}

{% block content %}

    <style>
        .row {
            margin: 15px 0;
        }
        .product_box{
            display: flex;
            border: 1px solid #4843a3;
            border-radius: 10px;
        }
        .product_box figure img{
            width: 150px;
            height: 150px;
        }
        .product_text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
        }
        .product_description{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 85%;
        }
        .product_description p {
            color: #666666;
            text-align: justify;
        }

        .price_category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
        .price_category .price{
            color: #7a75b9;
            font-size: 20px;
            font-weight: 700;
        }
        .price_category .category{
            color: #4843a3;
            font-size: 15px;
            font-style: italic;
        }
        .buttons .btn-info{
            border-radius: 10px;
        }
        .buttons .btn-info span{
            margin: 7px;
        }
        .pagination {
            justify-content: center;
        }
        .step-links {
            display: flex;
            font-size: 25px;
        }
        .page-link.selected{
            color: #666666;
        }
        .filter_form{
            background-color: white;
        }
        .filter_form h3{
            text-align: center;
        }
        .filter_form_inner{
            display: flex;
            justify-content: center;
        }
        .el_form{
            display: flex;
            margin: 10px;
            font-size: 15px;
        }
        .el_form_label{
            margin-right: 10px;
            font-size: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .filter_form_btn{
            display: grid;
            justify-content: center;
        }
        .filter_form_btn button{
            margin: 10px;
        }
    </style>

    <!-- products -->
    <div  class="products">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Товары</h2>
                    </div>
                </div>
            </div>

            <div class="filter_form">

                <h3 class="h3">Фильтр товаров</h3>

                <form method="get">
                    <div class="filter_form_inner">
                        {% for el_form in form %}
                            <div class="el_form">
                                <div class="el_form_label">
                                    <label for="{{ el_form.auto_id }}">{{ el_form.label }}</label>
                                </div>
                                {{ el_form }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="filter_form_btn">
                        <button type="submit" class="sub_btn" style="background-color: #17a2b8;">Применить</button>
                    </div>
                </form>
            </div>

            {% for product in all_products %}
                {% if product.show %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product_box">
                                <figure><img src="{{ product.photoproduct_set.first.photo.url }}" alt="#"/></figure>
                                <div class="product_text">
                                    <a href="{% url 'product_detail' product.pk %}">
                                        <div class="product_description">
                                            <h3 class="card-title">{{ product.name }}</h3>
                                            <p>{{ product.description| truncatewords:"50" }}</p>
                                            <div class="buttons">
                                                <a href="" class="btn-info"><span>Добавить в избранное</span></a>
                                                <button class="btn-info"><span>Купить</span></button>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="price_category">
                                        <p class="price">{{ product.price }} р.</p>
                                        <p class="category">{{ product.category }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% endfor %}

            <div class="pagination">
            <span class="step-links">

                {% if page_obj.has_previous %}
                    <a href="{% create_get_parameters_for_url_products page_obj.previous_page_number filter_brands filter_categories %}"><li class="page-link">&lt</li></a>
                    {% if 1 < page_obj.number|add:-5 %}
                        <a href="{% create_get_parameters_for_url_products 1 filter_brands filter_categories %}"><li class="page-link">1</li></a>
                        {% if 1 != page_obj.number|add:-6 %}
                            <li class="page-link">...</li>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% for num_page in paginator.page_range %}
                    {% if page_obj.number == num_page %}
                        <li class="page-link selected">{{ num_page }}</li>
                    {% elif num_page >= page_obj.number|add:-5 and num_page <= page_obj.number|add:5 %}
                        <a href="{% create_get_parameters_for_url_products num_page filter_brands filter_categories %}"><li class="page-link">{{ num_page }}</li></a>
                    {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                    {% if paginator.num_pages > page_obj.number|add:6 %}
                        <li class="page-link">...</li>
                    {% endif %}
                    {% if paginator.num_pages > page_obj.number|add:5 %}
                        <a href="{% create_get_parameters_for_url_products paginator.num_pages filter_brands filter_categories %}"><li class="page-link">{{ paginator.num_pages }}</li></a>
                    {% endif %}
                    <a href="{% create_get_parameters_for_url_products page_obj.next_page_number filter_brands filter_categories %}"><li class="page-link">&gt</li></a>
                {% endif %}
            </span>
            </div>
        </div>
    </div>
    <!-- end products -->

    {% block my_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {{ request.query_params }}
{#        {{ request.GET|getlist:'categories' }}#}
        <script>
            $(document).ready(function() {
                // ajax-запрос на добавление товара в корзину
                $('button').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_add_product_in_shopping_bassket' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().children('a').attr('href'),
                        }
                    })
                });

                let url = new URL(window.location.href);  // Создаем объект с текущим URL
                let get_params = new URLSearchParams(url.search);  //Выделяем все GET-параметры
                $('#id_categories').val(get_params.getAll('categories')).change();
                $('#id_brands').val(get_params.getAll('brands')).change();
            });
        </script>
    {% endblock %}

{% endblock %}
