{% extends 'base.html' %}
{% load static %}
{% load show_products_tags %}

{% block content %}

    <style>
        .titlepage p{
            margin: 5px;
            text-align: justify;
        }
        .titlepage h2{
            font-size: 30px;
            text-align: center;
        }
        .product_specifications{
            padding: 30px;
        }
        .table td, .table th{
            border-top: 0;
            padding: 0;
        }
        .table h3{
            font-size: 25px;
        }
        .name_specicifications{
            width: 400px;
            border-bottom: 1px solid #dee2e6;
        }
        .buttons .btn-info{
            font-size: 20px;
            border-radius: 10px;
            margin: 5px;
        }
        .buttons .btn-info span{
            margin: 7px;
        }
        .row{
            margin: 15px;
        }
        .product_box{
            border: 1px solid #4843a3;
            border-radius: 10px;
        }
        .product_box figure img{
            width: 150px;
            height: 150px;
        }
        .product_text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
        }
        .product_description{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 85%;
        }
        .product_description p {
            color: #666666;
            text-align: justify;
        }
        .price_category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin-right: 10px;
        }
        .price_category .price{
            color: #7a75b9;
            font-size: 20px;
            font-weight: 700;
        }
    </style>

    <div class="laptop1">
        <div class="container">
            <div class="row">
                <div class="titlepage" style="padding-bottom: 5px;">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <span>Осталось {{ product.count }} штук</span>
                    <div class="buttons">
                        {% if user.is_authenticated %}
                            <button class="btn-info add-favorite-product"><span>Добавить в избранное</span></>
                            {% if user.mail_confirmation and product.count > 0 %}
                                <button class="btn-info buy-product"><span>Купить</span></button>
                            {% endif %}
                        {% else %}
                            <span>Для покупки необходимо авторезироваться</span>
                        {% endif %}
                    </div>
                    {% if not user.mail_confirmation %}
                        <span>Для покупки необходимо подтвердить свою почту</span>
                    {% endif %}
                </div>
            </div>
            <div class="three_box" style="padding-top: 15px; background-color: #f6f6f6;">
                <div class="row">
                    {% for photo_product in product.photoproduct_set.all %}
                        <div class="col-md-4">
                            <div class="box_text" style="margin: 5px">
                                <i><img src="{{ photo_product.photo.url }}" width="200" alt="#"/></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% get_dict_with_specifications_parameters_for_product product as product_specif %}
            
            <div class="product_specifications">
                <div class="row">
                    <div class="titlepage" style="padding-bottom: 5px;">
                        <h2>Рассширенные параметры для {{ product }}</h2>
                    </div>
                </div>
                {% for one_specif in product_specif %}
                    <table class="table">
                        {% for name, data in one_specif.items %}
                            {% if data == None %}
                                <tr>
                                    <th><h3>{{ name }}</h3></th>
                                </tr>
                            {% else %}
                                <tr>
                                <th class="name_specicifications">{{ name }}</th>
                                <th>{{ data }}</th>
                                </tr>
                            {% endif %} 
                        {% endfor %}
                    </table>
                {% endfor %}
            </div>

            <div class="row">
                <div class="titlepage" style="padding-bottom: 5px;">
                    <h2>Отзывы</h2>
                </div>
            </div>

            {% for review, user_for_comment, comment in reviews %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="product_box">
                            <div class="product_text">
                                <div class="product_description">
                                    <h3 class="card-title">{{ user_for_comment.username }}</h3>
                                    {% if comment.f_delete %}
                                        <p>Данный комментарий удален администратором</p>
                                    {% else %}
                                        <p>{{ comment.content }}</p>
                                    {% endif %}
                                </div>
                                <div class="price_category">
                                    <p class="price">{{ review.grade }}</p>
                                </div>
                            </div>
                            <div class="buttons" style="margin-top: 20px;">
                                {% if user.is_staff and not comment.f_delete %}
                                    <a href="{% url 'delete_comment_in_products_detail' product.pk comment.pk  %}" class="btn-info"s><span style="font-size: 14px;">Удалить комментарий</span></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
                
        </div>
    </div>

    {% block my_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                // ajax-запрос на добавление товара в корзину
                $('.btn-info.buy-product').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_add_product_in_shopping_bassket' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': window.location.href
                        }
                    })
                });
                // ajax-запрос на добавление товара в избранное
                $('.btn-info.add-favorite-product').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_add_favorite_product' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': window.location.href
                        }
                    })
                });
            });
        </script>
    {% endblock %}

{% endblock content %}
