{% extends 'base.html' %}
{% load show_products_tags %}

{% block content %}

    <style>
        .row {
            margin: 15px 0;
        }
        .product_box{
            display: flex;
            border: 1px solid #4843a3;
            border-radius: 10px;
        }
        .product_box figure img{
            width: 150px;
            height: 150px;
        }
        .product_text{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 5px;
        }
        .product_description{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 85%;
        }
        .product_description p {
            color: #666666;
            text-align: justify;
        }
        .price_category {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            width: 40%;
        }
        .price_category .price{
            color: #7a75b9;
            font-size: 20px;
            font-weight: 700;
        }
        .price_category .category{
            color: #4843a3;
            font-size: 15px;
            font-style: italic;
        }
        .buttons .btn-info{
            border-radius: 10px;
        }
        .buttons .btn-info span{
            margin: 7px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
        .button_buy_obj {
            padding: 15px;
            text-align: right;
            font-size: 50px;
        }
        .button_buy_obj button{
            background-color: #17a2b8;
            color: white;
            border-radius: 25px;
        }
        .button_buy_obj button span{
            margin: 10px
        }
    </style>

    <!-- products -->
    <div  class="products">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Корзина</h2>
                    </div>
                </div>
            </div>

            {% for object in objects %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="product_box">
                            <figure><img src="{{ object.product.photoproduct_set.first.photo.url }}" alt="#"/></figure>
                            <div class="product_text">
                                <a href="{% url 'product_detail' object.product.pk %}">
                                    <div class="product_description">
                                        <h3 class="card-title">{{ object.product.name }}</h3>
                                        <p>{{ object.product.description| truncatewords:"50" }}</p>
                                        <div class="buttons">
                                            <a href="" class="btn-info"></a>
                                            <button class="btn-info"><span>Удалить из корзины</span></button>
                                        </div>
                                    </div>
                                </a>
                                <div class="price_category">
                                    <p class="price">{{ object.product.price }} р.</p>
                                    <div class="count_products">
                                        <label for="count_product">Кол-во: </label>
                                        <input type="number" class="category" id="count_product" min="1" max="{{ object.product.count }}" value="{{ object.count }}" style="width: 50px; text-align: center;">
                                    </div>
                                    <p class="category">{{ object.product.category }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="button_buy_obj">
                <button class="button_buy"><span>Купить</span></button>
            </div>

        </div>
    </div>
    <!-- end products -->

    {% block my_js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $('input').focusout(function() {
                    // Если пользователь ввел значение, которое превышает
                    if (parseInt($(this).val()) > parseInt($(this).attr('max')) )
                        $(this).val($(this).attr('max'))
                    // Отправляем ajax-запрос на увеличение количество товара в БД 
                    $.ajax({
                        url: "{% url 'ajax_update_count_product_from_shopping_bassket' %}",
                        async: false,
                        cache: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().parent().children('a').attr('href'),
                            'new_count': $(this).val()
                        },
                        success: function (response) {
                            location.reload();
                        },
                    }).del
                });
                $('.btn-info').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_delete_product_from_shopping_bassket' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().children('a').attr('href'),
                        },
                        success: function (response) {
                            location.reload();
                        },
                    }) 
                });
                $('.button_buy').click(function () {
                    $.ajax({
                        url: "{% url 'ajax_buy_products_from_shopping_bassket' %}",
                        async: false,
                        type: 'GET',
                        data: {
                            'product_url_detail': $(this).parent().parent().children('a').attr('href'),
                        },
                        success: function (response) {
                            location.reload();
                        },
                        error: function (response) {
                            console.log(response)
                            alert(response.responseText)
                        },
                    })
                });
            });
        </script>
    {% endblock %}

{% endblock %}
